@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* /* Reset de estilos*/
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        color: black;
        font-family:"Poppins", sans-serif;
    }

/*Desktop*/

.container
    {
        max-width: 1200px;
        margin: 0 auto;
    }

.header
    {
        background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(/assets/girasoles.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
    }


/*barra menu*/
.menu
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

.logo
    {
        color: #FFFDFC;
        font-size: 25px;
        font-weight: 800;
        margin-left: 25px;
    }

.menu .navbar ul li
    {
        position: relative;
        float: left;
    }

.menu .navbar ul li a
    {
        font-size: 18px;
        padding: 20px;
        color: #FFFDFC;
        display: block;
        font-weight: 600;
    }

    .menu .navbar ul li a:hover
        {
            color: #f8cf49;
        }

#menu
    {
        display: none;
    }

.menu-icono
    {
        width: 25px;
    }

.menu label
    {
        cursor: pointer;
        display: none;
    }

/*header*/
.header-content
    {
        text-align: center;
    }

.header-content h1
    {
        font-size: 75px;
        line-height: 88px;
        color: #FFFDFC;
        text-transform: uppercase;
        margin-top: 35px;
        margin-bottom: 35px;
    }

.header-content span
    {
        color: #FFFDFC;
    }

.header-content p
    {
        font-size: 16px;
        color: #C5C5C5;
        padding: 0 250px;
        margin-bottom: 25px;
    }

.btm-1
    {
        display: inline-block; /*para text*/
        padding: 11px 35px;
        background-color: #ce9678;
        color: #f9fafc;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .btm-1:hover
        {
            background-color: #e0a889;
        }

/* Sobre mí*/

main
    {
        padding: 60px 0;
        background-color: #E1E2E6;
        position: relative;
    }

.sobre_mi
    {
        text-align: center;
    }

.sobre_mi h2
    {
        font-size: 55px;
        line-height: 70px;
        color: #323337;
        text-transform: uppercase;
        padding: 0 250px;
        margin-bottom: 30px;
    }

.sobre_mi h3
    {
        font-size: 20px;
    }

.txt_parrafo
    {
        font-size: 16px;
        color: #414247;
        padding: 0 250px;
        margin-bottom: 35px;
    }

.profile
    {
        width: 20rem;
        margin-bottom: 50px;
    }

.mi_group
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        padding: 25px;
    }

.mi-1
    {
        width: 200px;
    }

    .mi-1 :hover
        {
            color: #f8cf49;
        }

/*Skills*/

.skills
    {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,.7)),url(/assets/flores.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 60px;
    }

.skills-content
    {
        text-align: center;
    }

.skills-content h2
    {
        font-size: 55px;
        line-height: 80px;
        color: #FFFDFC;
        text-transform: uppercase;
        margin-bottom: 100px;
        margin-top: 50px;
    }

.skills-group
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

.skills-1
    {
        padding: 0px 0px;
        top: 50%;
    }

.skills-1 img
    {
        width: 40px;
        margin-bottom: 15px;
    }

.skills-1 h3
    {
        color: #f9fafc;
        font-size: 28px;
    }

/*Hobbies*/

.hobbies
    {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,.7)),url(/assets/flores.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 60px;
    }

.hobbies-content
    {
        text-align: center;
    }

.hobbies-content h2
    {
        font-size: 55px;
        line-height: 80px;
        color: #FFFDFC;
        text-transform: uppercase;
        margin-bottom: 100px;
    }

.hobbies-group
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

.hobbies-1
    {
        padding: 0px 0px;
        top: 50%;
    }

.hobbies-1 img
    {
        width: 100px;
        margin-bottom: 15px;
    }

.hobbies-1 h3
    {
        color: #f9fafc;
        font-size: 28px;
    }

/* Formación*/

.formaciones
    {
        padding: 60px 0;
        background-color: #E1E2E6;
        position: relative;
    }

.formacion
    {
        text-align: center;
    }

.formacion h2 /* titutlo*/
    {
        font-size: 55px;
        line-height: 80px;
        color: #323337;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 70px;
    }

.formacion p
    {
        color: #323337;
        font-size: 18px;
        margin-bottom: 40px;
    }

.formacion-content
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
        margin-left: 40px;
        margin-right: 40px;
    }

.formacion-1
    {
        padding: 0px 0px;
    }

.formacion-1 img
    {
        width: 100px;
        margin-bottom: 15px;
    }

.formacion h3
    {
        color: #323337;
        font-size: 28px;
    }

    .formacion p
    {
        color: #323337;
        font-size: 18px;
    }
/* contacto*/

.COntacto
    {
        width: 100%;
        margin: 0px auto;
        padding: 60px 0;
        background-color: #E1E2E6;
        position: relative;
    }
.COntacto h2
    {
        text-align: center;
        color: #323337;
        font-size: 40px;
    }
.COntacto p
    {
        color: #323337;
        font-size: 18px;
        text-align: center;
    }
form
    {
        margin: 30px 30%;
    }

form label,legend
    {
        display: block;
        font-size: 20px;
        margin: 0 0 10px;
        font-weight: bold;
        color: #323337;
    }

.in-padron
    {
        display: block;
        margin: 0 0 20px;
        padding: 10px 25px;
        width: 100%;
        border: 1px solid #572f02;
        box-shadow: 1px 1px 1px 1px #414247;
    }

.checkbox
    {
        margin: 20px 0;
    }

textarea
    {
        margin-bottom: 25px;
    }

.boton
    {
        padding: 0 20px 0 20px;
        margin: 10px 20px 0 20px;
        border-radius: 10px;
        border-color: #572f02;
        box-shadow: 1px 1px 1px #7e4400;
        background-color: #f9fafc;
        color: #572f02;
        font-size: large;
        cursor: pointer;
    }

.warnings
    {
        display: flex;
        width: 200px;
        text-align: center;
        margin: auto;
        color: #ce9678;
        padding-top: 20px;
    }
/*Footer "responsive"*/
footer
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,.6)),url(/assets/girasoles.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center center;
    border-top:  2px solid #7e4400;
    box-shadow: 0 2px 20px #f8cf49;
    padding: 50px;
}

.contenedor
{
    max-width: 1200px;
    margin: 0 auto;
}

.footer-rom
{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-links
{
    width: 45%;
    padding: 0 10px;
}

.footer-links h4
{
    font-size: 20px;
    font-weight: bold;
    color:#f9fafc;
    margin-bottom: 30px;
    font-weight: 600;
    border-bottom: 2px solid #f8cf49;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a
{
    font-size: 15px;
    text-decoration: none;
    color: #E1E2E6;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover
{
    color: #f8cf49;
    padding-left: 6px;
}

.socialmedia-link a
{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #f8cf49;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.socialmedia-link a:hover
    {
        background-color: #C5C5C5;
    }

/*Responsive*/
@media(max-width:991px)
    {
        .menu
            {
                padding: 30px;
            }
        .menu label
            {
                display: initial;
            }
        .menu .navbar
            {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background-color: #323337;
                display: none;
            }
        .menu .navbar ul li
            {
                width: 100%;
            }
        #menu:checked ~ .navbar
            {
                display: initial;
            }

        /*header*/
        .header
            {
                min-height: 0vh;
            }
        .header-content
            {
                padding: 100px 30px;
            }
        .header-content p
            {
                padding: 0;
            }

        /*sobre_mi*/
        main
            {
                padding: 30px;
            }
        .sobre_mi h2
            {
                padding: 0;
            }
        .txt_parrafo
            {
                padding: 0;
            }
        .mi_group
            {
                flex-direction: column;
                margin-bottom: 0px;
                align-items: center;
                gap: 20px;
            }
        /*skills*/
        .skills
            {
                padding: 50px;
            }
        .skills-content p
            {
                padding: 0;
            }
        .skills-group
            {
                flex-wrap: wrap;
                margin-bottom: 0;
                gap: 40px;
                justify-content: center;
            }
        .skills-1
            {
                margin-bottom: 25px;
            }
            .skills-1 h3
                {
                    font-size: 20px;
                }
        /*hobbies*/
        .hobbies
            {
                padding: 50px;
            }
        .hobbies-content p
            {
                padding: 0;
            }
        .hobbies-group
            {
                flex-wrap: wrap;
                gap: 40px;
                justify-content: center;
                margin-bottom: 0;
            }
        .hobbies-1
            {
                margin-bottom: 25px;
            }
        .hobbies-1 h3
            {
                font-size: 20px;
            }
        /*formaciones*/
        .formaciones
            {
                padding: 50px;
            }
            .formaciones h2
            {
                font-size: 45px;
            }
        .formacion-content p
            {
                padding: 0;
            }
        .formacion-content
            {
                flex-wrap: wrap;
                gap: 10px;
                justify-content: center;
                margin-bottom: 0;
            }
        .formacion-1
            {
                margin-bottom: 25px;
                align-items: center;
            }
        .formacion-1 h3
            {
                font-size: 20px;
            }
/*Responsive footer*/
        .footer-rom
            {
                text-align: center;
            }
        .footer-links
            {
                width: 100%;
                margin-bottom: 30px;
            }
    }